<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Marathon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.019</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1267363087101557marathonme</string>
				<string>fb1267363087101557</string>
				<string>fb1267363087101557marathoncoach</string>
				<string>com.googleusercontent.apps.202007326980-9q2l1sj7hium9ga0dg8tcr95ldpbffrp</string>
				<string>com.googleusercontent.apps.202007326980-ehcjajafvklt4mpapspj3l1sckfqeq9a</string>
				<string>com.googleusercontent.apps.845710147677-6ft6rqtk4pv39k3s1sh4l7hn3suomoqu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>me.marathon.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(APP_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>111</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
	<key>FacebookAppID</key>
	<string>1267363087101557</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookClientToken</key>
	<string>b7b8c9d4e59209cb2093fd5600f9ced2</string>
	<key>FacebookDisplayName</key>
	<string>Marathon</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbshareextension</string>
		<string>fbauth2</string>
		<string>googlegmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Marathon use your media library to post media publication, load and save your profile picture and chat</string>
	<key>NSCameraUsageDescription</key>
	<string>Marathon use your camera to take photos to post media publication, load and save your profile picture and chat</string>
	<key>NSLo</key>
	<string></string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescriptionxs</key>
	<string>I would like to take your geolocation in order to suggest you the content which is mostly close to you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>I would like to take your geolocation in order to suggest you the content which is mostly close to you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Marathon use your microphone to video recording</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Marathon use your photo library to post media publication, load and save your profile picture and chat</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Marathon use your photo library to post media publication, load and save your profile picture and chat</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
